<h1 class="d-flex justify-content-center mt-5">Ask the Coach!</h1>
<form class="d-flex justify-content-center mt-5" action="/answer" data-turbo="false">
    <div class="col-auto">
        <input type="text" class="form-control" name="question" placeholder="...">
    </div>
    <div class="col-auto">
        <input type="submit" class="btn btn-primary mb-3" value="Ask!">
    </div>
</form>
